[Unit]
Description=Tdarr Remote Node (Rootless)
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=tdarr-node
HostName=tdarr-node
Image=ghcr.io/haveagitgat/tdarr_node:latest
AutoUpdate=registry
AddDevice=/dev/dri:/dev/dri:rw
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=nodeName=your-node-name
Environment=nodeID=your-node-name-node
Environment=serverURL=http://your-server:8266
Volume=%h/tdarr/node-logs:/app/logs
Volume=/media/Videos/Movies:/media/movies:rw
Volume=/media/Videos/tvshows:/media/tvshows:rw
Volume=/temp:/temp
NoNewPrivileges=true
Mount=type=tmpfs,destination=/app/unmappedNodeCache,tmpfs-size=1G,tmpfs-mode=1777
Mount=type=tmpfs,destination=/tmp,tmpfs-size=1G,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=256M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/app/configs,tmpfs-size=32M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
