[Unit]
Description=Tdarr Server & Internal Node (Rootless)
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Container]
ContainerName=tdarr
HostName=tdarr
Image=ghcr.io/haveagitgat/tdarr:latest
AutoUpdate=registry
PublishPort=8265:8265
PublishPort=8266:8266
AddDevice=/dev/dri:/dev/dri:rw
Environment=TZ=America/New_York
Environment=serverPort=8266
Environment=internalNode=true
Environment=nodeName=your-nodename
Environment=Tdarr_Server_URL=http://your-server:8266
Environment=webUIPort=8265
Environment=inContainer=true
Environment=serverDualStack=true
Environment=ffmpegVersion=7
Volume=%h/tdarr/server:/app/server
Volume=%h/tdarr/logs:/app/logs
Volume=%h/Videos/Movies:/media/movies:rw
Volume=%h/Videos/tvshows:/media/tvshows:rw
Volume=/temp:/temp
NoNewPrivileges=true
Mount=type=tmpfs,destination=/app/unmappedNodeCache,tmpfs-size=1G,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/tmp,tmpfs-size=1G,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/app/configs,tmpfs-size=32M,tmpfs-mode=1777,rw

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
