[Unit]
Description=Ultrafeeder
After=podman-user-wait-network-online.service adsb-network.service
Wants=podman-user-wait-network-online.service adsb-network.service
# Uncomment the following lines if you use Airspy or dump978:
# After=airspy.service dump978.service
# Wants=airspy.service dump978.service

[Container]
HostName=ultrafeeder
ContainerName=ultrafeeder
Image=ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder:latest
AutoUpdate=registry
Network=adsb
PublishPort=8081:8081
PublishPort=30005:30005
PublishPort=30003:30003
EnvironmentFile=%h/.config/containers/systemd/ultrafeeder.env
Environment=TZ=America/New_York
Environment=TAR1090_NGINX_PORT=8081
Environment=LOGLEVEL=error
Environment=ENABLE_978=yes
Environment=URL_978=http://dump978:80/skyaware978/
Environment=UPDATE_TAR1090=true
Environment=GRAPHS1090_DARKMODE=true
Environment=TAR1090_MESSAGERATEINTITLE=true
Environment=TAR1090_PLANECOUNTINTITLE=true
Environment=TAR1090_RANGERINGS=true
Environment=TAR1090_RANGERINGSDISTANCES=50,100,150,200
Environment=TAR1090_FLIGHTAWARELINKS=true
Environment=ENABLE_AIRSPY=true
Environment=AIRSPY_STATS_FILE=/run/airspy_adsb/stats.json
Volume=airspy_stats:/run/airspy_adsb:ro
Environment=READSB_NET_CONNECTOR=airspy,30005,beast_in;dump978,30978,uat_in
Volume=/opt/adsb/ultrafeeder/globe_history:/var/globe_history
Volume=/opt/adsb/ultrafeeder/graphs1090:/var/lib/collectd
Volume=/proc/diskstats:/proc/diskstats:ro
NoNewPrivileges=true
Mount=type=tmpfs,destination=/run,tmpfs-size=256M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/tmp,tmpfs-size=128M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/run,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/tmp,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/lib,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/etc,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/usr/local/share/tar1090,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/usr/share/graphs1090/html,tmpfs-size=64M,tmpfs-mode=1777
Environment=S6_READ_ONLY_ROOT=1
ReadOnly=yes

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
