[Unit]
Description=Audiobookshelf Server
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Container]
ContainerName=audiobookshelf
HostName=audiobookshelf
Image=ghcr.io/advplyr/audiobookshelf:latest
AutoUpdate=registry
PublishPort=13378:80
Volume=%h/.config/audiobookshelf:/config
Volume=%h/.config/audiobookshelf_metadata:/metadata
Volume=%h/audiobooks:/audiobooks
Volume=%h/podcasts:/podcasts
Environment=TZ=America/New_York
NoNewPrivileges=yes
DropCapability=all
AddCapability=CAP_NET_BIND_SERVICE
User=1000:1000
ReadOnly=true
Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/tmp,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
Memory=1G

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
