[Unit]
Description=Plex Media Server (Rootless)
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service
PropagatesStopTo=tautulli.service

[Container]
ContainerName=plex
Image=docker.io/plexinc/pms-docker:latest
Network=plex.network
AutoUpdate=registry
HostName=your-hostname
Environment=PLEX_UID=1000
Environment=PLEX_GID=1000
Environment=TZ=America/New_York
Environment=VERSION=docker
PublishPort=32400:32400
AddDevice=/dev/dri:/dev/dri:rw
Volume=%h/plex/config:/config
Volume=%h/Videos/tvshows:/data/tvshows:rw
Volume=%h/Videos/Movies:/data/movies:rw
Volume=%h/Music/music:/data/music:rw
NoNewPrivileges=yes
DropCapability=CAP_MKNOD
DropCapability=CAP_NET_RAW
DropCapability=CAP_AUDIT_WRITE
ReadOnly=yes
Mount=type=tmpfs,destination=/transcode,tmpfs-size=8G,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/tmp,tmpfs-size=2G,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/var/tmp,tmpfs-size=512M,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/dev/shm,tmpfs-size=8G,tmpfs-mode=1777,rw

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
