[Unit]
Description=Plex Media Server (Rootless)
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service
PropagatesStopTo=tautulli.service

[Container]
ContainerName=plex
Image=docker.io/plexinc/pms-docker:latest
AutoUpdate=registry
HostName=your-hostname
Environment=PLEX_UID=1000
Environment=PLEX_GID=1000
Environment=TZ=America/New_York
Environment=VERSION=docker
PublishPort=32400:32400
PublishPort=8181:8181
AddDevice=/dev/dri:/dev/dri:rw
Volume=%h/plex/config:/config
Volume=%h/Videos/tvshows:/data/tvshows:rw
Volume=%h/Videos/Movies:/data/movies:rw
Volume=%h/Music/music:/data/music:rw
NoNewPrivileges=yes
DropCapability=CAP_MKNOD
DropCapability=CAP_NET_RAW
DropCapability=CAP_AUDIT_WRITE
ReadOnly=yes
Tmpfs=/transcode:size=8G,rw,mode=1777
Tmpfs=/tmp:size=2G,rw,mode=1777
Tmpfs=/var/tmp:size=512M,rw,mode=1777
Tmpfs=/dev/shm:size=8G,rw,mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
