[Unit]
Description=Tautulli - Plex Monitoring and Tracking (Rootless)
After=podman-user-wait-network-online.service plex.service
BindsTo=plex.service

[Container]
ContainerName=tautulli
Image=ghcr.io/tautulli/tautulli:latest
AutoUpdate=registry
HostName=tautulli
Network=plex.network
PublishPort=[::]:8181:8181
Environment=TAUTULLI_HTTP_HOST=::
Environment=TZ=America/New_York
Environment=PUID=1000
Environment=PGID=1000
Volume=%h/plex/tautulli-config:/config:rw
NoNewPrivileges=yes
ReadOnly=yes
DropCapability=CAP_MKNOD
DropCapability=CAP_NET_RAW
DropCapability=CAP_AUDIT_WRITE
Mount=type=tmpfs,destination=/tmp,tmpfs-size=1G,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/var/tmp,tmpfs-size=512M,tmpfs-mode=1777,rw
Mount=type=tmpfs,destination=/dev/shm,tmpfs-size=1G,tmpfs-mode=1777,rw

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
