[Unit]
Description=Uptime Kuma Service
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
Image=docker.io/louislam/uptime-kuma:2
ContainerName=uptime-kuma
HostName=uptime-kuma
AutoUpdate=registry
User=1000:1000
UserNS=keep-id:uid=1000,gid=1000
PublishPort=3001:3001
Environment=PORT=3001
Environment=TZ=America/New_York
Volume=%h/uptime-kuma/data:/app/data
NoNewPrivileges=true
ReadOnly=true
DropCapability=all
Mount=type=tmpfs,destination=/tmp,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=32M,tmpfs-mode=1777
Memory=512M

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
