[Unit]
Description=MinusPod Intel CPU Podcast Ad Remover Engine
After=network-online.target

[Container]
Image=docker.io/ttlequals0/minuspod:cpu
ContainerName=minuspod
HostName=minuspod
AutoUpdate=registry
PublishPort=8000:8000
Environment=TZ=America/New_York
Environment="GUNICORN_BIND=[::]:8000"
Environment=OPENAI_MODEL=openrouter/free
Environment=LLM_PROVIDER=openrouter
Environment=OMP_NUM_THREADS=4
Environment=OMP_PLACES=cores
Environment=OMP_PROC_BIND=close
EnvironmentFile=%h/.config/containers/systemd/minuspod.env
Volume=%h/minuspod/data:/app/data:Z
NoNewPrivileges=true
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/tmp,tmpfs-size=1G,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777
DropCapability=ALL
AddCapability=CAP_SETUID CAP_SETGID
ReadOnly=yes

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
