UUID=YOUR_RADARBOX_UUID
READSB_LAT=YOUR_LATITUDE
READSB_LON=YOUR_LONGITUDE
READSB_ALT=YOUR_ALTITUDE
TAR1090_PAGETITLE=YOUR_SITE_TITLE
TAR1090_DEFAULTCENTERLAT=YOUR_LATITUDE
TAR1090_DEFAULTCENTERLON=YOUR_LONGITUDE
MLAT_USER=YOUR_MLAT_USERNAME
ULTRAFEEDER_CONFIG=adsb,dump978,30978,uat_in;adsb,feed.adsb.fi,30004,beast_out,uuid=YOUR_UUID;mlat,feed.adsb.fi,31090,39000,uuid=YOUR_UUID; ... (see documentation)
HEYWHATSTHAT_PANORAMA_ID=YOUR_PANO_ID
HEYWHATSTHAT_ALTS=2500ft,5000ft,7500ft,10000ft
TAR1090_DISPLAYUNITS=nautical
TAR1090_RANGE_OUTLINE_COLORED_BY_ALTITUDE=true
TAR1090_ENABLE_AC_DB=true
TAR1090_SITENAME=YOUR_SITE_NAME
