[Unit]
Description=Omni-tools container
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
Image=docker.io/iib0011/omni-tools:latest
ContainerName=omnitools
HostName=omnitools
AutoUpdate=registry
PublishPort=8999:8999
Environment=TZ=America/New_York
Volume=%h/omnitools/default.conf:/etc/nginx/conf.d/default.conf
Volume=%h/omnitools/.htpasswd:/etc/nginx/.htpasswd
NoNewPrivileges=true
ReadOnly=true
DropCapability=all
User=1000:1000
Mount=type=tmpfs,destination=/tmp,tmpfs-size=32M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=16M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/cache/nginx,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log/nginx,tmpfs-size=32M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
