[Unit]
Description=Paperless Redis Broker
After=podman-user-wait-network-online.service paperless-webserver.service

[Container]
Image=docker.io/valkey/valkey:9
ContainerName=paperless-redis
HostName=paperless-redis
Network=container:paperless-webserver
AutoUpdate=registry
Environment=TZ=America/New_York
User=999
UserNS=keep-id
Exec=valkey-server --save "" --appendonly no
#SecurityLabelDisable=true
ReadOnly=true
NoNewPrivileges=true
DropCapability=all
Mount=type=tmpfs,destination=/data,tmpfs-size=128m,tmpfs-mode=1777
Mount=type=tmpfs,destination=/tmp,tmpfs-size=64m,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=16m,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
