[Unit]
Description=PixelProbe PostgreSQL database
After=network-online.target

[Container]
Image=docker.io/library/postgres:18
ContainerName=pixelprobe-database
HostName=pixelprobe-database
Network=pixelprobe.network
EnvironmentFile=%h/.config/containers/systemd/pixelprobe.env
Environment=POSTGRES_DB=pixelprobe
Environment=POSTGRES_USER=pixelprobe
Volume=%h/pixelprobe/data:/var/lib/postgresql:U
PublishPort=5432:5432
Environment=TZ=America/New_York
AutoUpdate=registry
HealthCmd=pg_isready -U pixelprobe
HealthInterval=5s
HealthRetries=5

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
