[Unit]
Description=Airspy ADSB Receiver
After=podman-user-wait-network-online.service adsb-network.service
Wants=podman-user-wait-network-online.service adsb-network.service

[Container]
ContainerName=airspy
HostName=airspy
Image=ghcr.io/sdr-enthusiasts/airspy_adsb:latest
AutoUpdate=registry
Network=adsb
AddDevice=/dev/bus/usb:/dev/bus/usb
Environment=AIRSPY_ADSB_SAMPLE_RATE=20
Environment=AIRSPY_ADSB_PREAMBLE_FILTER_MAX=60
Environment=AIRSPY_ADSB_CPUTIME_TARGET=90
Environment=AIRSPY_ADSB_RF_GAIN=auto
Environment=AIRSPY_ADSB_TIMEOUT=60
Environment=AIRSPY_ADSB_RSSI_MODE=snr
Environment=AIRSPY_ADSB_STATS=true
Environment=AIRSPY_ADSB_VERBOSE=true
Environment=TZ=America/New_York
Volume=airspy_stats:/run/airspy_adsb
NoNewPrivileges=true
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=0755
Mount=type=tmpfs,destination=/tmp,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=16M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/lib,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/usr/share,tmpfs-size=64M,tmpfs-mode=1777
Environment=S6_READ_ONLY_ROOT=1
ReadOnly=yes


[Service]
Restart=on-failure

[Install]
WantedBy=default.target
