[Unit]
Description=Homepage Dashboard Service
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage
HostName=homepage
AutoUpdate=registry
UserNS=keep-id
Environment=PUID=1000
Environment=PGID=1000
PublishPort=3000:3000
Environment=TZ=America/New_York
#Environment=HOMEPAGE_ALLOWED_HOSTS=x.x.x.x
Volume=%h/homepage/config:/app/config
Volume=%h/homepage/icons:/app/public/icons
Environment=DOCKER_HOST=unix:///var/run/docker.sock
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true
NoNewPrivileges=yes
ReadOnly=true
Mount=type=tmpfs,destination=/tmp,tmpfs-size=128M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=16M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=32M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/cache,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/app/.next/server/pages,tmpfs-size=64M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
