[Unit]
Description=Grocy
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=grocy
HostName=grocy
Image=lscr.io/linuxserver/grocy:latest
PublishPort=9283:80
Volume=%h/grocy/config:/config
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
AutoUpdate=registry

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
