[Unit]
Description=Grocy
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
ContainerName=grocy
HostName=grocy
Image=lscr.io/linuxserver/grocy:latest
PublishPort=9283:80
Volume=%h/grocy/config:/config
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
AutoUpdate=registry
NoNewPrivileges=true
DropCapability=ALL
AddCapability=CAP_CHOWN CAP_FOWNER CAP_SETUID CAP_SETGID CAP_DAC_OVERRIDE CAP_NET_BIND_SERVICE
Mount=type=tmpfs,destination=/var/log/nginx,tmpfs-size=32M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/tmp,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=16M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/cache/nginx,tmpfs-size=64M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
