IMMICH_URL=http://immich-server:2283
IMMICH_API_KEY=your-api-key
DB_USERNAME=postgres
DB_PASSWORD=password
DB_HOST=immich-postgres
DB_PORT=5432
DB_DATABASE_NAME=immich
# optional for face search
AI_BASE_URL=https://openrouter.ai/api/v1
AI_API_KEY=your key
AI_MODEL=google/gemini-2.5-flash
