IMMICH_API_KEY=<your api key>
IMMICH_BASE_URL=http://immich-server:2283/api
PUBLIC_UPLOAD_PAGE_ENABLED=true
PUBLIC_BASE_URL=<your public facing url>
SESSION_SECRET=<generate a secet code>
IMMICH_ALBUM_NAME=Public-Drops
