[Unit]
Description=Immich Postgres Database
After=podman-user-wait-network-online.service immich-network.service
Wants=immich-network.service

[Container]
AutoUpdate=registry
Network=immich.network
ContainerName=immich-postgres
HostName=immich-postgres
Image=ghcr.io/immich-app/postgres:18-vectorchord0.5.3

Exec=postgres -c log_timezone=America/New_York -c shared_preload_libraries=vchord
EnvironmentFile=%h/.config/containers/systemd/immich-postgres.env
Environment=POSTGRES_DB=immich
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Volume=%h/immich-app/postgres:/var/lib/postgresql
Environment=TZ=America/New_York
Environment=POSTGRES_MAX_WAL_SIZE=4GB
Environment=POSTGRES_SHARED_BUFFERS=1GB
Environment=POSTGRES_EFFECTIVE_CACHE_SIZE=12GB
ShmSize=2G
NoNewPrivileges=yes
DropCapability=all
AddCapability=CAP_CHOWN
AddCapability=CAP_DAC_OVERRIDE
AddCapability=CAP_FOWNER
AddCapability=CAP_SETGID
AddCapability=CAP_SETUID
Mount=type=tmpfs,destination=/tmp,tmpfs-size=1G,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/run/postgresql,tmpfs-size=32M,tmpfs-mode=1777
Memory=4G
CPUShares=256

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
