[Unit]
Description=Immich Server
Wants=podman-user-wait-network-online.service immich-network.service
Requires=immich-postgres.service immich-redis.service immich-machine-learning.service
After=podman-user-wait-network-online.service immich-network.service immich-postgres.service immich-redis.service immich-machine-learning.service

[Container]
AutoUpdate=registry
Network=immich.network
ContainerName=immich-server
HostName=immich-server
Image=ghcr.io/immich-app/immich-server:release
Volume=%h/Pictures:/usr/src/app/upload:z
Environment=TZ=America/New_York
EnvironmentFile=%h/.config/containers/systemd/immich-server.env
Environment=DB_DATABASE_NAME=immich
Environment=DB_HOSTNAME=immich-postgres
Environment=REDIS_HOSTNAME=immich-redis
Environment=IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003
PublishPort=2283:2283
AddDevice=/dev/dri
UserNS=keep-id
User=1000:1000
GroupAdd=keep-groups
Memory=16G
ReadOnly=true
NoNewPrivileges=yes
Mount=type=tmpfs,destination=/tmp,tmpfs-size=2G,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=128M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/dev/shm,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777
DropCapability=all

[Service]
ExecStartPre=/bin/sleep 20
Restart=on-failure
CPUAccounting=yes
CPUWeight=100
CPUQuota=1000%
AllowedCPUs=0-15

[Install]
WantedBy=default.target
