[Unit]
Description=Immich Machine Learning
After=podman-user-wait-network-online.service immich-network.service
Wants=immich-network.service

[Container]
AutoUpdate=registry
Network=immich.network
ContainerName=immich-machine-learning
HostName=immich-machine-learning
Image=ghcr.io/immich-app/immich-machine-learning:release-openvino
Volume=%h/immich-app/model-cache:/cache
Volume=%h/immich-app/ml-cache:/.cache
Volume=%h/immich-app/ml-config:/.config
Environment=TZ=America/New_York
AddDevice=/dev/dri:/dev/dri
User=1000:1000
Memory=10G
GroupAdd=keep-groups
Environment=TRANSFORMERS_CACHE=/cache
Environment=ONNXRUNTIME_CACHE_DIR=/cache
NoNewPrivileges=yes
Mount=type=tmpfs,destination=/tmp,tmpfs-size=2G,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=128M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/cache,tmpfs-size=1G,tmpfs-mode=1777
DropCapability=all
Environment=MPLCONFIGDIR=/tmp/matplotlib

[Service]
Restart=on-failure
CPUAccounting=yes
CPUWeight=50
CPUQuota=800%
AllowedCPUs=0-11

[Install]
WantedBy=default.target
