[Unit]
Description=Podman Proxy (rootless)
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
Image=lscr.io/linuxserver/socket-proxy:latest
ContainerName=podman-proxy
HostName=podman-proxy
AutoUpdate=registry
PublishPort=2375:2375
Environment=CONTAINERS=1
Environment=INFO=1
Environment=EVENTS=1
Environment=IMAGES=1
Environment=VOLUMES=1
Environment=NETWORKS=1
Environment=POST=1
Environment=DELETE=1
Environment=TZ=America/New_York
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
NoNewPrivileges=yes
ReadOnly=yes
DropCapability=ALL
Mount=type=tmpfs,destination=/tmp,tmpfs-size=128M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=16M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
