[Unit]
Description=Calibre Desktop Web-GUI Server
Wants=podman-user-wait-network-online.service calibre-web.service
After=podman-user-wait-network-online.service
PropagatesStopTo=calibre-web.service

[Container]
ContainerName=calibre-gui
HostName=calibre-gui
Image=lscr.io/linuxserver/calibre:latest
AutoUpdate=registry
PublishPort=8090:8181
Environment=TZ=America/New_York
Environment=PUID=1000
Environment=PGID=1000
EnvironmentFile=%h/.config/containers/systemd/calibre-gui.env
Volume=%h/.config/calibre-gui:/config
Volume=%h/calibre:/calibre-library
AddDevice=/dev/dri:/dev/dri
PodmanArgs=--group-add=render --group-add=video
NoNewPrivileges=yes
DropCapability=all
AddCapability=CAP_SETUID
AddCapability=CAP_SETGID
AddCapability=CAP_CHOWN
AddCapability=CAP_DAC_OVERRIDE
Mount=type=tmpfs,destination=/tmp,tmpfs-size=1G,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=256M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/cache,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
