[Unit]
Description=PlaneFinder Client
After=podman-user-wait-network-online.service adsb-network.service ultrafeeder.service
Wants=podman-user-wait-network-online.service adsb-network.service ultrafeeder.service

[Container]
HostName=pfclient
ContainerName=pfclient
Image=ghcr.io/sdr-enthusiasts/docker-planefinder:latest
Network=adsb
PublishPort=30053:30053
AutoUpdate=registry

Environment=TZ=America/New_York
Environment=BEASTHOST=ultrafeeder
Environment=BEASTPORT=30005
EnvironmentFile=%h/.config/containers/systemd/pfclient.env

# ---------- Hardening (optional) ----------
#NoNewPrivileges=yes
#DropCapability=all
#AddCapability=CAP_NET_BIND_SERVICE
#AddCapability=CAP_SETUID
#AddCapability=CAP_SETGID
#AddCapability=CAP_CHOWN
#AddCapability=CAP_DAC_OVERRIDE
#ReadOnly=true

# ---------- tmpfs ----------
#Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
#Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777
#Mount=type=tmpfs,destination=/tmp,tmpfs-size=64M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
