[Unit]
Description=Ente Database
After=podman-user-wait-network-online.service ente-network.service
Wants=ente-museum.service
PropagatesStopTo=ente-museum.service

[Container]
HostName=ente-database
AutoUpdate=registry
ContainerName=ente-database
Network=ente.network
Image=docker.io/library/postgres:18
Environment=POSTGRES_DB=ente_db
EnvironmentFile=%h/.config/containers/systemd/ente-database.env
Environment=TZ=America/New_York
Volume=%h/my-ente/db-data:/var/lib/postgresql
LogDriver=k8s-file
LogOpt=max-size=10mb
NoNewPrivileges=true
DropCapability=all
AddCapability=CAP_CHOWN
AddCapability=CAP_DAC_OVERRIDE
AddCapability=CAP_FOWNER
AddCapability=CAP_SETGID
AddCapability=CAP_SETUID
Mount=type=tmpfs,destination=/tmp,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/run/postgresql,tmpfs-size=32M,tmpfs-mode=1777
Memory=4G

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
