[Unit]
Description=Ente Web (Auth Frontend)
After=podman-user-wait-network-online.service ente-network.service ente-museum.service

[Container]
HostName=ente-web
ContainerName=ente-web
AutoUpdate=registry
Network=ente.network
Image=ghcr.io/ente-io/web
PublishPort=3401:3001
PublishPort=3403:3003
Environment=TZ=America/New_York
Environment=ENTE_API_ORIGIN=http://ip-to-your-server:8085
Environment=ENTE_ACCOUNTS_ORIGIN=http://ente-web:3401
Environment=ENTE_AUTH_ORIGIN=http://ente-web:3403
Environment=ENTE_ALBUMS_ORIGIN=http://ente-web:3402
Environment=ENTE_PHOTOS_ORIGIN=http://ente-web:3400
Environment=NEXT_PUBLIC_ENTE_ENDPOINT=https://your-url
LogDriver=k8s-file
LogOpt=max-size=10mb
NoNewPrivileges=yes
DropCapability=all
AddCapability=CAP_NET_BIND_SERVICE
AddCapability=CAP_SETUID
AddCapability=CAP_SETGID
AddCapability=CAP_CHOWN
AddCapability=CAP_DAC_OVERRIDE
Mount=type=tmpfs,destination=/tmp,tmpfs-size=128M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/cache/nginx,tmpfs-size=128M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/lib/nginx,tmpfs-size=64M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log/nginx,tmpfs-size=32M,tmpfs-mode=1777

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
