[Unit]
Description=Beszel Hub Container
After=podman-user-wait-network-online.service
Wants=podman-user-wait-network-online.service

[Container]
Image=docker.io/henrygd/beszel
ContainerName=beszel
HostName=beszel
Environment=APP_URL=http://localhost:8090
PublishPort=8090:8090
Volume=%h/beszel_data:/beszel_data
Environment=TZ=America/New_York
Mount=type=tmpfs,destination=/tmp,tmpfs-size=512M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/run,tmpfs-size=16M,tmpfs-mode=1777
Mount=type=tmpfs,destination=/var/log,tmpfs-size=64M,tmpfs-mode=1777
NoNewPrivileges=yes
ReadOnly=yes
DropCapability=all

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
